<style type='text/css'>
	div.featcat  {
		width:inherit; 
		background-color:#FFFFD9; 
		border:dotted; 
		border-color:#666; 
		border-width:thin;
		margin-bottom: 20px;
	}
	h3.featcat  {
		margin-left:5px;
	}
	ul.featcat  {
	}
	li.featcat  {
	}
	A:link.featcat {
	}
	A:visited.featcat {
	}
	A:active.featcat {
	}
	A:hover.featcat {
	}
		
</style>